#root {
  display: grid;
  grid-template-columns: 200px 1fr;
  box-sizing: border-box;
}

#sidebar {
  display: grid;
}

#nav-menu a {
  display: grid;
  padding: 10px;
}

#avatar-bar {
  display: flex;
}

#avatar-bar > * {
  padding: 5px;
}

#avatar {
  border-radius: 50%;
  background: #04aa6d;
}

#profile-header-bar {
  display: flex;
}

#profile-header-bar > p {
  border-radius: 50%;
  background: #04aa6d;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

#profile-header-bar-user-info {
  display: flex;
}
